In [2]:
import numpy as np 
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
import os
import datetime
from functools import partial

# 1.1

In [3]:
data= pd.read_csv("D:\Study\TY_BTECH\Resume\Internship\CL_Data_School\Large_Cap\TCS.csv")
data

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
0,TCS,EQ,15-May-2017,2360.65,2375.10,2377.95,2341.60,2368.00,2365.10,2352.60,908802,2.138043e+09,30047,712450,78.39
1,TCS,EQ,16-May-2017,2365.10,2380.00,2435.00,2373.45,2425.10,2429.15,2410.26,1800513,4.339703e+09,58476,1167534,64.84
2,TCS,EQ,17-May-2017,2429.15,2433.50,2460.75,2423.00,2450.00,2455.35,2443.31,1438099,3.513729e+09,86412,1031752,71.74
3,TCS,EQ,18-May-2017,2455.35,2450.00,2572.00,2442.25,2525.00,2536.20,2525.78,2569297,6.489478e+09,111566,1135613,44.20
4,TCS,EQ,19-May-2017,2536.20,2536.20,2540.55,2486.00,2503.85,2507.15,2506.58,893022,2.238430e+09,63112,517461,57.94
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
493,TCS,EQ,07-May-2019,2157.85,2160.05,2184.35,2138.80,2154.00,2151.95,2163.53,2201698,4.763441e+09,86096,975603,44.31
494,TCS,EQ,08-May-2019,2151.95,2151.00,2168.00,2130.40,2156.00,2152.85,2151.85,1824895,3.926902e+09,77713,781526,42.83
495,TCS,EQ,09-May-2019,2152.85,2145.00,2184.10,2136.10,2171.20,2172.55,2166.98,2264162,4.906405e+09,106297,1251459,55.27
496,TCS,EQ,10-May-2019,2172.55,2175.00,2192.00,2125.85,2130.25,2135.80,2161.83,2039633,4.409349e+09,85446,873181,42.81
497,TCS,EQ,13-May-2019,2135.80,2133.00,2167.00,2121.65,2134.00,2128.75,2143.87,1701744,3.648325e+09,74014,677242,39.80

In [4]:
#Original data with duplicates
print(data.shape)

(498, 15)

In [5]:
#let us see NOT "EQ" values
data[data["Series"] == "BL"]

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
434,TCS,BL,11-Feb-2019,2604.20,2061.40,2061.40,2061.40,2061.40,2061.40,2061.40,376308,7.757213e+08,1,0,0.0
440,TCS,BL,18-Feb-2019,2061.40,2029.70,2029.70,2029.70,2029.70,2029.70,2029.70,2474600,5.022696e+09,1,0,0.0
446,TCS,BL,25-Feb-2019,2029.70,1925.65,1925.65,1925.65,1925.65,1925.65,1925.65,1057509,2.036392e+09,2,0,0.0
464,TCS,BL,22-Mar-2019,1925.65,2015.05,2015.05,2015.05,2015.05,2015.05,2015.05,264913,5.338129e+08,1,264913,100.0

In [6]:
#Remove duplicate dates 
data2=data[data.Series == 'EQ']
data2

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
0,TCS,EQ,15-May-2017,2360.65,2375.10,2377.95,2341.60,2368.00,2365.10,2352.60,908802,2.138043e+09,30047,712450,78.39
1,TCS,EQ,16-May-2017,2365.10,2380.00,2435.00,2373.45,2425.10,2429.15,2410.26,1800513,4.339703e+09,58476,1167534,64.84
2,TCS,EQ,17-May-2017,2429.15,2433.50,2460.75,2423.00,2450.00,2455.35,2443.31,1438099,3.513729e+09,86412,1031752,71.74
3,TCS,EQ,18-May-2017,2455.35,2450.00,2572.00,2442.25,2525.00,2536.20,2525.78,2569297,6.489478e+09,111566,1135613,44.20
4,TCS,EQ,19-May-2017,2536.20,2536.20,2540.55,2486.00,2503.85,2507.15,2506.58,893022,2.238430e+09,63112,517461,57.94
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
493,TCS,EQ,07-May-2019,2157.85,2160.05,2184.35,2138.80,2154.00,2151.95,2163.53,2201698,4.763441e+09,86096,975603,44.31
494,TCS,EQ,08-May-2019,2151.95,2151.00,2168.00,2130.40,2156.00,2152.85,2151.85,1824895,3.926902e+09,77713,781526,42.83
495,TCS,EQ,09-May-2019,2152.85,2145.00,2184.10,2136.10,2171.20,2172.55,2166.98,2264162,4.906405e+09,106297,1251459,55.27
496,TCS,EQ,10-May-2019,2172.55,2175.00,2192.00,2125.85,2130.25,2135.80,2161.83,2039633,4.409349e+09,85446,873181,42.81
497,TCS,EQ,13-May-2019,2135.80,2133.00,2167.00,2121.65,2134.00,2128.75,2143.87,1701744,3.648325e+09,74014,677242,39.80

In [7]:
# No of instances after removing duplications
print(data2.shape)

(494, 15)

In [8]:
#Data After removing duplicated dates 
data2[data2["Series"] == "BL"]
#nothing is their

Empty DataFrame
Columns: [Symbol, Series, Date, Prev Close, Open Price, High Price, Low Price, Last Price, Close Price, Average Price, Total Traded Quantity, Turnover, No. of Trades, Deliverable Qty, % Dly Qt to Traded Qty]
Index: []

In [9]:
# first five instance
data2.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
0,TCS,EQ,15-May-2017,2360.65,2375.1,2377.95,2341.60,2368.00,2365.10,2352.60,908802,2.138043e+09,30047,712450,78.39
1,TCS,EQ,16-May-2017,2365.10,2380.0,2435.00,2373.45,2425.10,2429.15,2410.26,1800513,4.339703e+09,58476,1167534,64.84
2,TCS,EQ,17-May-2017,2429.15,2433.5,2460.75,2423.00,2450.00,2455.35,2443.31,1438099,3.513729e+09,86412,1031752,71.74
3,TCS,EQ,18-May-2017,2455.35,2450.0,2572.00,2442.25,2525.00,2536.20,2525.78,2569297,6.489478e+09,111566,1135613,44.20
4,TCS,EQ,19-May-2017,2536.20,2536.2,2540.55,2486.00,2503.85,2507.15,2506.58,893022,2.238430e+09,63112,517461,57.94

In [10]:
#last five instance
data2.tail()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
493,TCS,EQ,07-May-2019,2157.85,2160.05,2184.35,2138.80,2154.00,2151.95,2163.53,2201698,4.763441e+09,86096,975603,44.31
494,TCS,EQ,08-May-2019,2151.95,2151.00,2168.00,2130.40,2156.00,2152.85,2151.85,1824895,3.926902e+09,77713,781526,42.83
495,TCS,EQ,09-May-2019,2152.85,2145.00,2184.10,2136.10,2171.20,2172.55,2166.98,2264162,4.906405e+09,106297,1251459,55.27
496,TCS,EQ,10-May-2019,2172.55,2175.00,2192.00,2125.85,2130.25,2135.80,2161.83,2039633,4.409349e+09,85446,873181,42.81
497,TCS,EQ,13-May-2019,2135.80,2133.00,2167.00,2121.65,2134.00,2128.75,2143.87,1701744,3.648325e+09,74014,677242,39.80

In [11]:
#describe function gives these attributes(mean,max,min,count,std,)
data2.describe()

,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
count,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,4.940000e+02,4.940000e+02,494.000000,4.940000e+02,494.000000
mean,2387.748684,2386.112146,2412.039575,2362.413866,2386.900911,2387.279251,2387.545040,2.154751e+06,4.914692e+09,95827.566802,1.183271e+06,56.849312
std,463.565049,461.347984,470.430776,457.931108,463.288365,463.709942,464.726731,2.579232e+06,6.651663e+09,57134.390316,1.600605e+06,12.114263
min,1721.600000,1723.000000,1734.900000,1711.150000,1723.000000,1721.600000,1725.850000,4.341100e+04,1.120856e+08,2351.000000,1.386900e+04,21.480000
25%,1987.912500,1989.475000,2005.500000,1973.250000,1988.887500,1987.912500,1988.825000,9.365380e+05,2.444368e+09,51852.750000,5.490995e+05,48.020000
50%,2398.575000,2396.925000,2433.000000,2377.650000,2398.100000,2398.575000,2402.990000,1.696750e+06,3.959611e+09,86986.500000,9.150305e+05,56.750000
75%,2638.237500,2635.750000,2669.450000,2619.787500,2638.000000,2638.237500,2641.310000,2.622279e+06,5.725864e+09,125993.250000,1.465679e+06,66.310000
max,3603.700000,3625.000000,3674.800000,3572.550000,3610.750000,3603.700000,3633.110000,4.403358e+07,1.268362e+11,482657.000000,3.155626e+07,85.180000

# 1.2

In [12]:
#maximum Closing prise for last 90 days
data2.tail(90)['Close Price'].max()

2260.35

In [13]:
#minimum Closing prise for last 90 days
data2.tail(90)['Close Price'].min()

1813.25

In [14]:
#mean ofClosing prise for last 90 days
data2.tail(90)['Close Price'].mean()

2015.4722222222215

# 1.3

In [15]:
data2.Date.dtypes
#Initially the datatype was 'object'

dtype('O')

In [16]:
# Set the datatype of date from 'object' to 'dattime(64)'
data2['Date'] = pd.to_datetime(data2["Date"])

# Now the datatype becomes 'datetime(64)'
data2['Date'].dtype

# Substract the minimum value of date from maximum value of date
data2['Date'].max()-data2['Date'].min()

Timedelta('728 days 00:00:00')

# 1.4

In [17]:
data2['Year'] = pd.DatetimeIndex(data2['Date']).year #create a seperate 'month' column in dataframe
data2['Month'] = pd.DatetimeIndex(data2['Date']).month #--------------------//-----------------------
data2['VWAP'] = (data2['Close Price'] * data2['Total Traded Quantity']).cumsum() / data2['Total Traded Quantity'].fillna(0).cumsum()
data_vwap = data2[['Month','Year','VWAP']] 
group = data_vwap.groupby(['Month','Year'])
group.first()

                   VWAP
Month Year
1     2018  2533.725584
      2019  2373.843993
2     2018  2600.697196
      2019  2334.632663
3     2018  2645.170456
      2019  2311.505311
4     2018  2707.985286
      2019  2295.578918
5     2017  2365.100000
      2018  2813.097543
      2019  2284.017185
6     2017  2523.547721
      2018  2846.124167
7     2017  2495.933531
      2018  2673.427888
8     2017  2481.937788
      2018  2557.340020
9     2017  2484.754249
      2018  2518.901820
10    2017  2484.600494
      2018  2489.142016
11    2017  2493.068743
      2018  2437.989244
12    2017  2521.921881
      2018  2401.156253

# 1.5

In [18]:
# Calculate average price of last N days......
def avg_price(N):
    return (data2['Average Price'].tail(N).sum())/N
print("Average prices for last N days are as follows:")
print("Last 1 week",avg_price(5))
print("Last 2 weeks",avg_price(10))
print("Last 1 month",avg_price(20))
print("Last 3 months",avg_price(60))
print("Last 6 months",avg_price(120))
print("Last 1 year",avg_price(240))

# Calculate profit/loss percentage over last N days.......
print("Profit/Loss % for N days are as follows:")
def prof_loss(N):
    difference = (data2['Close Price'].tail(N).iloc[N-1] - data2['Close Price'].tail(N).iloc[0])
    if difference < 0 :
        loss = -(difference)
        loss_percen = (loss/data2['Close Price'].tail(N).iloc[N-1])*100
        return loss_percen
    if difference > 0 :
        profit = difference
        profit_percen = (profit/data2['Close Price'].tail(N).iloc[N-1])*100
        return profit_percen
print("Loss/Profit percentage for last N days are as follows:")
print("Last 1 week",prof_loss(5))
print("Last 2 weeks",prof_loss(10))
print("Last 1 month",prof_loss(20))
print("Last 3 months",prof_loss(60))
print("Last 6 months",prof_loss(120))
print("Last 1 year",prof_loss(240))

Average prices for last N days are as follows:
Last 1 week 2157.612
Last 2 weeks 2179.6890000000003
Last 1 month 2146.8215000000005
Last 3 months 2056.5011666666664
Last 6 months 1996.0234999999998
Last 1 year 2022.1254583333332
Profit/Loss % for N days are as follows:
Loss/Profit percentage for last N days are as follows:
Last 1 week 1.0898414562536616
Last 2 weeks 5.157956547269533
Last 1 month 4.157369348209043
Last 3 months 2.952436876100994
Last 6 months 12.021139166177338
Last 1 year 64.83382266588373

# 1.6

In [19]:
data2['Day_Perc_Change'] = data2['Close Price'].pct_change().fillna(0)
data2

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Year,Month,VWAP,Day_Perc_Change
0,TCS,EQ,2017-05-15,2360.65,2375.10,2377.95,2341.60,2368.00,2365.10,2352.60,908802,2.138043e+09,30047,712450,78.39,2017,5,2365.100000,0.000000
1,TCS,EQ,2017-05-16,2365.10,2380.00,2435.00,2373.45,2425.10,2429.15,2410.26,1800513,4.339703e+09,58476,1167534,64.84,2017,5,2407.665319,0.027081
2,TCS,EQ,2017-05-17,2429.15,2433.50,2460.75,2423.00,2450.00,2455.35,2443.31,1438099,3.513729e+09,86412,1031752,71.74,2017,5,2424.199789,0.010786
3,TCS,EQ,2017-05-18,2455.35,2450.00,2572.00,2442.25,2525.00,2536.20,2525.78,2569297,6.489478e+09,111566,1135613,44.20,2017,5,2467.042455,0.032928
4,TCS,EQ,2017-05-19,2536.20,2536.20,2540.55,2486.00,2503.85,2507.15,2506.58,893022,2.238430e+09,63112,517461,57.94,2017,5,2471.749180,-0.011454
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
493,TCS,EQ,2019-05-07,2157.85,2160.05,2184.35,2138.80,2154.00,2151.95,2163.53,2201698,4.763441e+09,86096,975603,44.31,2019,5,2282.852775,-0.002734
494,TCS,EQ,2019-05-08,2151.95,2151.00,2168.00,2130.40,2156.00,2152.85,2151.85,1824895,3.926902e+09,77713,781526,42.83,2019,5,2282.628633,0.000418
495,TCS,EQ,2019-05-09,2152.85,2145.00,2184.10,2136.10,2171.20,2172.55,2166.98,2264162,4.906405e+09,106297,1251459,55.27,2019,5,2282.393661,0.009151
496,TCS,EQ,2019-05-10,2172.55,2175.00,2192.00,2125.85,2130.25,2135.80,2161.83,2039633,4.409349e+09,85446,873181,42.81,2019,5,2282.112317,-0.016916
497,TCS,EQ,2019-05-13,2135.80,2133.00,2167.00,2121.65,2134.00,2128.75,2143.87,1701744,3.648325e+09,74014,677242,39.80,2019,5,2281.867135,-0.003301

# 1.7

In [20]:
data2["Trend"] = "Slight or No change"
data2

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Year,Month,VWAP,Day_Perc_Change,Trend
0,TCS,EQ,2017-05-15,2360.65,2375.10,2377.95,2341.60,2368.00,2365.10,2352.60,908802,2.138043e+09,30047,712450,78.39,2017,5,2365.100000,0.000000,Slight or No change
1,TCS,EQ,2017-05-16,2365.10,2380.00,2435.00,2373.45,2425.10,2429.15,2410.26,1800513,4.339703e+09,58476,1167534,64.84,2017,5,2407.665319,0.027081,Slight or No change
2,TCS,EQ,2017-05-17,2429.15,2433.50,2460.75,2423.00,2450.00,2455.35,2443.31,1438099,3.513729e+09,86412,1031752,71.74,2017,5,2424.199789,0.010786,Slight or No change
3,TCS,EQ,2017-05-18,2455.35,2450.00,2572.00,2442.25,2525.00,2536.20,2525.78,2569297,6.489478e+09,111566,1135613,44.20,2017,5,2467.042455,0.032928,Slight or No change
4,TCS,EQ,2017-05-19,2536.20,2536.20,2540.55,2486.00,2503.85,2507.15,2506.58,893022,2.238430e+09,63112,517461,57.94,2017,5,2471.749180,-0.011454,Slight or No change
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
493,TCS,EQ,2019-05-07,2157.85,2160.05,2184.35,2138.80,2154.00,2151.95,2163.53,2201698,4.763441e+09,86096,975603,44.31,2019,5,2282.852775,-0.002734,Slight or No change
494,TCS,EQ,2019-05-08,2151.95,2151.00,2168.00,2130.40,2156.00,2152.85,2151.85,1824895,3.926902e+09,77713,781526,42.83,2019,5,2282.628633,0.000418,Slight or No change
495,TCS,EQ,2019-05-09,2152.85,2145.00,2184.10,2136.10,2171.20,2172.55,2166.98,2264162,4.906405e+09,106297,1251459,55.27,2019,5,2282.393661,0.009151,Slight or No change
496,TCS,EQ,2019-05-10,2172.55,2175.00,2192.00,2125.85,2130.25,2135.80,2161.83,2039633,4.409349e+09,85446,873181,42.81,2019,5,2282.112317,-0.016916,Slight or No change
497,TCS,EQ,2019-05-13,2135.80,2133.00,2167.00,2121.65,2134.00,2128.75,2143.87,1701744,3.648325e+09,74014,677242,39.80,2019,5,2281.867135,-0.003301,Slight or No change

In [21]:
if ((data2['Day_Perc_Change'] >= -0.5) & (data2['Day_Perc_Change'] <= 0.5)).all():
    data2['Trend'] = 'Slight or No change'
if ((data2['Day_Perc_Change'] >= 0.5) & (data2['Day_Perc_Change'] <= 1)).all():
    data2['Trend'] = 'Slight positive'
if ((data2['Day_Perc_Change'] <= -0.5) & (data2['Day_Perc_Change'] >= -1)).all():
    data2['Trend'] = 'Slight negative'
if ((data2['Day_Perc_Change'] >= 1) & (data2['Day_Perc_Change'] <= 3)).all():
    data2['Trend'] = 'Positive' 
if ((data2['Day_Perc_Change'] <= -1) & (data2['Day_Perc_Change'] >= -3)).all():
    data2['Trend'] = 'Negative'
if ((data2['Day_Perc_Change'] >= 3) & (data2['Day_Perc_Change'] <= 7)).all():
    data2['Trend'] = 'Among top gainers'
if ((data2['Day_Perc_Change'] <= -3) & (data2['Day_Perc_Change'] >= -7)).all():
    data2['Trend'] = 'Among top losers'
if (data2['Day_Perc_Change'] > 7).all():
    data2['Trend'] = 'Bull run' 
if (data2['Day_Perc_Change'] < -7).all():
    data2['Trend'] = 'Bear drop' 
data2

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Year,Month,VWAP,Day_Perc_Change,Trend
0,TCS,EQ,2017-05-15,2360.65,2375.10,2377.95,2341.60,2368.00,2365.10,2352.60,908802,2.138043e+09,30047,712450,78.39,2017,5,2365.100000,0.000000,Slight or No change
1,TCS,EQ,2017-05-16,2365.10,2380.00,2435.00,2373.45,2425.10,2429.15,2410.26,1800513,4.339703e+09,58476,1167534,64.84,2017,5,2407.665319,0.027081,Slight or No change
2,TCS,EQ,2017-05-17,2429.15,2433.50,2460.75,2423.00,2450.00,2455.35,2443.31,1438099,3.513729e+09,86412,1031752,71.74,2017,5,2424.199789,0.010786,Slight or No change
3,TCS,EQ,2017-05-18,2455.35,2450.00,2572.00,2442.25,2525.00,2536.20,2525.78,2569297,6.489478e+09,111566,1135613,44.20,2017,5,2467.042455,0.032928,Slight or No change
4,TCS,EQ,2017-05-19,2536.20,2536.20,2540.55,2486.00,2503.85,2507.15,2506.58,893022,2.238430e+09,63112,517461,57.94,2017,5,2471.749180,-0.011454,Slight or No change
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
493,TCS,EQ,2019-05-07,2157.85,2160.05,2184.35,2138.80,2154.00,2151.95,2163.53,2201698,4.763441e+09,86096,975603,44.31,2019,5,2282.852775,-0.002734,Slight or No change
494,TCS,EQ,2019-05-08,2151.95,2151.00,2168.00,2130.40,2156.00,2152.85,2151.85,1824895,3.926902e+09,77713,781526,42.83,2019,5,2282.628633,0.000418,Slight or No change
495,TCS,EQ,2019-05-09,2152.85,2145.00,2184.10,2136.10,2171.20,2172.55,2166.98,2264162,4.906405e+09,106297,1251459,55.27,2019,5,2282.393661,0.009151,Slight or No change
496,TCS,EQ,2019-05-10,2172.55,2175.00,2192.00,2125.85,2130.25,2135.80,2161.83,2039633,4.409349e+09,85446,873181,42.81,2019,5,2282.112317,-0.016916,Slight or No change
497,TCS,EQ,2019-05-13,2135.80,2133.00,2167.00,2121.65,2134.00,2128.75,2143.87,1701744,3.648325e+09,74014,677242,39.80,2019,5,2281.867135,-0.003301,Slight or No change

# 1.8

In [22]:
data2.groupby(data2.Trend).mean()['Total Traded Quantity']
data2.groupby(data2.Trend).median()['Total Traded Quantity']

Trend
Slight or No change    1696750.0
Name: Total Traded Quantity, dtype: float64

# 1.9

In [23]:
data2.to_csv("D:\Study\TY_BTECH\Resume\Internship\CL_Data_School\week2.csv")

In [25]:
data2

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Year,Month,VWAP,Day_Perc_Change,Trend
0,TCS,EQ,2019-04-01,2001.65,2010.00,2039.95,2008.25,2034.95,2031.65,2027.91,2095740,4.249965e+09,109983,748739,35.73,2019,4,2031.650000,0.000000,Slight or No change
1,TCS,EQ,2017-08-01,2491.80,2500.00,2520.75,2491.00,2495.15,2501.65,2502.14,873730,2.186195e+09,42188,620303,70.99,2017,8,2169.941715,0.231339,Slight or No change
2,TCS,EQ,2018-08-01,1940.20,1949.95,1981.55,1949.80,1973.00,1976.50,1972.85,2425180,4.784508e+09,94019,1409120,58.10,2018,8,2082.979451,-0.209921,Slight or No change
3,TCS,EQ,2017-12-01,2637.00,2635.00,2668.00,2621.50,2630.00,2629.95,2647.75,515572,1.365104e+09,37693,285458,55.37,2017,12,2130.693852,0.330610,Slight or No change
4,TCS,EQ,2018-02-01,3112.35,3124.00,3190.00,3088.80,3150.00,3138.60,3146.24,1200315,3.776474e+09,66084,310672,25.88,2018,2,2300.836398,0.193407,Slight or No change
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
485,TCS,EQ,2018-07-31,1944.60,1942.00,1947.00,1928.00,1947.00,1940.20,1934.85,2204803,4.265970e+09,125163,1494920,67.80,2018,7,2287.730569,-0.221366,Slight or No change
486,TCS,EQ,2017-05-31,2551.10,2533.00,2572.50,2528.00,2539.95,2546.60,2549.69,1251365,3.190589e+09,103176,925467,73.96,2017,5,2288.040552,0.312545,Slight or No change
487,TCS,EQ,2018-05-31,3514.10,1734.00,1759.05,1726.10,1748.85,1741.05,1742.44,5049371,8.798250e+09,207998,3447026,68.27,2018,5,2285.410310,-0.316324,Slight or No change
488,TCS,EQ,2017-10-31,2616.20,2601.30,2640.00,2601.30,2618.75,2624.00,2627.82,796317,2.092579e+09,45128,558622,70.15,2017,10,2285.666882,0.507136,Slight or No change
489,TCS,EQ,2018-10-31,1894.80,1900.00,1943.90,1875.45,1934.60,1938.15,1915.93,2769190,5.305567e+09,155493,1465913,52.94,2018,10,2284.753536,-0.261376,Slight or No change